/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.logo {
    height: 40px;
}

.pointer{
    cursor: pointer;
}

.spin-wrap {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    min-height: 150px;
}

.slick-prev:before, .slick-next:before {
    color: red;
  }

.customspan {
    font-weight: bolder;
    color: darkblue;
}  

.cus h1 {
    padding-top: 100px;
    font-size: xx-large;
    
}

.cus p {
    font-size: x-large;
}

