<div class="cusbak p-5 text-center">
    <h1><span class="text-danger">{{ employee?.firstName }}</span> Details</h1>
    <hr>
    
    <div class="fw-bold p-5">
        <div class="row">
            <div class="col-md-6">Id :</div>
            <div class="col-md-6">{{ employee?.id }}</div>
        </div>
        
        <div class="row mt-3">
            <div class="col-md-6">First Name :</div>
            <div class="col-md-6">{{ employee?.firstName }}</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">Last Name :</div>
            <div class="col-md-6">{{ employee?.lastName }}</div>
        </div>
    </div>
    
    <div class="mt-4">
        <button class="me-4" mat-raised-button color="basic" [routerLink]="['/employees']">Back</button>
        <button mat-raised-button color="primary" [routerLink]="['/employees/edit/', employeeId]">Edit</button>
      </div>
</div>