<h1><span class="text-danger">{{ employee?.firstName }}</span> Details</h1>
<hr>

<div class="row">
    <div class="col-md-2">Id</div>
    <div class="col-md-10">{{ employee?.id }}</div>
</div>

<div class="row mt-3">
    <div class="col-md-2">First Name</div>
    <div class="col-md-10">{{ employee?.firstName }}</div>
</div>
<div class="row mt-3">
    <div class="col-md-2">Last Name</div>
    <div class="col-md-10">{{ employee?.lastName }}</div>
</div>

<div class="mt-4">
    <button class="me-2" mat-raised-button color="basic" [routerLink]="['/employees']">Back</button>
    <button mat-raised-button color="primary" [routerLink]="['/employees/edit/', employeeId]">Edit</button>
  </div>